{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesi칩n
{% endblock %}

{% block body %}
	<h1>Iniciar Sesi칩n</h1>

	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('app_login') }}" method="post">
		<label for="email">Nombre de Usuario:</label>
		<input type="text" id="email" name="_email" value="{{ last_email }}" required autofocus>

		<label for="password">Contrase침a:</label>
		<input type="password" id="password" name="_password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button type="submit">Iniciar Sesi칩n</button>
	</form>
{% endblock %}
