{% extends 'base.html.twig' %}

{% block title %}Editar Categoría
{% endblock %}

{% block body %}
	<h1>Editar Categoría</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Guardar</button>
	{{ form_end(form) }}
	<a href="{{ path('category_index') }}">Volver a la lista</a>
{% endblock %}
